
h1 {
    padding:0;
    text-align:center;
    background-color: greenyellow;
    padding-bottom: 0;
    margin-top: 0px;
    line-height: 60px;
}
body {
    background-color: gray;
    padding: 0px;
    margin: 0;
    line-height: 30px;
}
.bio {
    float:left; 
    width: 60%;
    
    text-align: justify;
    margin-right: 65px;
}
.contat_info {
  
    float:right; 
    width: 20%;
    
    
    
}
a {
    color:red;
}
.containeer {
    padding: 0;
    margin: 20px;
    width:100%;
    
}

 img {
    float: left;
    margin: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

