@import url('https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy');

#bod {
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-image: url("../../Assets/Images/k20.jpg");
    /* background-color: royalblue; */
    /* The image used */
    
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#head1, #head2, #head3, #head4 {
    font-family: 'cursive', 'Luckiest Guy' ;
    color:aquamarine;
}


#abForm{
    color: #D6FFF6;
    text-align: justify;
}
#cent{
    text-align: center;
}

#myName {
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
    
    font-size: 2.0em;
}

#portC{
    background-color: olivedrab;
    color: #D6FFF6;
    opacity: .8;
    font-family: 'Lato', sans-serif;
    border: 1px solid #D6FFF6;
    margin: 5px;
    min-height: 270px;
}

.linkForm{
    color: #D6FFF6;
    text-emphasis: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
   
}

#linkForm1{
    background-color: cadetblue;
    font-size:2.0em;
   
}


#linkForm2{
    background-color: #4875B4;
    font-size:2.0em;
    
}

#linkForm3{
    background-color: black;
    font-size:2.0em;
}

#linkForm4{
    background-color: orange;
    font-size:2.0em;
}

#image{
    border: 1px solid olive;
}

.projectdescription{
    text-align: left;
    min-height: 190px;
}

.projectimg {
    width: 100%;
    height: auto;
    max-height: 195px;
    min-height: 190px;

}

.col_icon {
    height: 40px;
}

.dis {
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

.flip-box {
    background-color: transparent;
    min-width: 100%;;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  2.0s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    height: 100%;
    
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: olivedrab;
    color: white;
    transform: rotateY(180deg);
    height: 100%;
  }

  @media only screen and (max-width: 1005px) {

    .project_row {
        margin: 10px;
    }

    .about_row {
        margin: 10px;
    }

    .nav_row {
        margin: 10px;
    }

    .row_icons{
        margin: 10px;
    }


}

  @media only screen and (max-width: 350px) {


    #portC {
        height: 450px;
    }

}