html {
  position: relative;
  min-height: 100%;
}
body {
  color:#777777;
  background-color: gainsboro;
 }

.navbar-header {
  color: #4aaaa5;
  background: #ffffff;
}

.nav.inline-navbar>li{
  display: inline-block;
}

.nav{
    text-align: center;
}

.navbar{
    background-color: beige;
}

.navbar-header{ background-color:  #4aaaa5;
    height: 60px; 
    padding: 25px; 
}

.navbar-brand {
   text-align: center;
   left: auto; 
   float: none;  
   font-size: 25px; 
   margin-top: 20px;
   text-align: center;
   left: auto;
   padding: 10px;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
}
.heading1 {
  margin-top: 20px;
}

.row {
  color: #777777;

}

.main_index {
  color: #777777;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dddddd;
  margin: 10px, 0px, 3px, 0px;
}

.main {
  color: #777777;
  background-color: #ffffff;
  
  margin: 3px;
}


.main2 {
  color: #777777;
  background-color: #ffffff;
}

.img-thumbnail {
  height: 170px;
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

p {
  text-align: justify;
}

#name, #email {
  width: 100%;
}

#message {
    width: 100%;
    
}

#git, #linkin, #stack {
    max-height: 70px;
    max-width: 70px;
}

#span1 {
    padding-top: 15px;
    line-height: 3;
}

.wrap2 {
   margin: 5px;
}

#asid {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
}

#connectme {
  text-align: center;
}

#submit, #reset {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  background: #666666;
  height: 50px;
  padding: 10px;
  margin-bottom: -50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-muted {
  color:whitesmoke;
  padding: 10px;
}

.singleitem {
  border: 2px solid blue;
  background-color: antiquewhite;
  margin-top: 3px;
}

.projectName {
  color: green;
  text-align: center;
  background-color: aqua;
  padding: 5px;
  margin: 0px;
 
}.projectIcon{
  border: 2px solid #4aaaa5;
}

.projectdescription {
  line-height: 100%; 
}

.dis {
  margin: 0.1em;
}