@import url('https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy');

#bod {
    text-align: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url("../../myAssets/Images/k20.jpg");
    /* background-color: royalblue; */
    /* The image used */
    
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

a {
    color: goldenrod;
}

.navbar {
    line-height: 2;
    

}

#Portfolio {
    margin: 5%;
}

.mainBody {
    padding-top: 1%;
}

#head1, #head2, #head3, #head4 {
    font-family: 'cursive', 'Luckiest Guy' ;
    color:aquamarine;
}


#abForm{
    color: #D6FFF6;
    text-align: justify;
}
#cent{
    text-align: center;
}

#myName {
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
    
    font-size: 2.5em;
}

#myName2, #myname3 {
    display: none;
}

#portC{
    background-color: olivedrab;
    color: #D6FFF6;
    opacity: .8;
    font-family: 'Lato', sans-serif;
    border: 1px solid #D6FFF6;
    margin: 1%;
    min-height: 270px;
}

.linkForm{
    color: #D6FFF6;
    text-emphasis: none;
    padding-left: 3%;
    padding-right: 3%;
  
   
}

#linkForm1{
    background-color: cadetblue;
    font-size:2.0em;
   
}


#linkForm2{
    background-color: #4875B4;
    font-size:2.0em;
    
}

#linkForm3{
    background-color: black;
    font-size:2.0em;
}

#linkForm4{
    background-color: orange;
    font-size:2.0em;
}

#image{
    border: 1px solid olive;
}

.projectdescription{
    text-align: left;
    min-height: 190px;
}

.projectimg {
    width: 100%;
    height: auto;
    max-height: 195px;
    min-height: 190px;

}

.col_icon {
    height: 40px;
}

.dis {
    line-height: normal;
    margin: 0px;
    padding: 0px;
   
}

.disHead {
    color: cyan;
    font-size: 1.1em;
}

.row {
    
    margin: 0;
    margin-bottom: 1%;
}



  
  /* entire container, keeps perspective */

.flip-box {
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /*  UPDATED! flip the pane when hovered */
  
  .flip-box:hover .flip-box-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  .flip-box:hover .flip-box-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .flip-container,
  .flip-box-front,
  .flip-box-back {
    width: 100%;
    height: 100%;
  }
  
  /* flip speed goes here */
  
  .flip-box-inner {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }
  
  /* hide back of pane during swap */
  
  .flip-box-front,
  .flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*  UPDATED! front pane, placed above back */
  
  .flip-box-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  /* back, initially hidden pane */
  
  .flip-box-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  #footerEmail {
    font-family: Arial, Helvetica, sans-serif;

  }
  

  @media only screen and (max-width: 1005px) {

    
    .about_row {
        margin: 10px;
    }

    .nav_row {
        margin: 10px;
    }

    .row_icons{
        margin: 10px;
    }

    #myName {
        font-size: 1.5em;
}

.navbar {
    line-height: 1.0;
    padding-right: 0;
    padding-left: 0;
}




}

  @media only screen and (max-width: 350px) {


    #portC {
        height: auto;
            }

    #myName, #myname4 {
        display: none;
    }

    #myName2, #myname3 {
        display: inline;
    }

    #myName2 {
        font-size: 3.0em;
        padding-right: 5%;
        color: gold;
    }

    

    .about_row {
        margin: 10px;
    }

    .nav_row {
        margin: 10px;
    }
}